* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 70%;
    max-width: 1200px;
    margin: 2em auto;
}

.card {
    display: inline-block;
    width: calc(100%/3 - 3px);
}

img {
    width: 100%;
}

.img-container {
    margin-bottom: 10px;
    position: relative;
}

.prezzo strong {
    color: red;
}

.prezzo span {
    text-decoration: line-through;
}

.heart {
    width: 40px;
    height: 40px;
    font-size: 30px;
    background-color: white;
    text-align: center;
    line-height: 40px;
    position: absolute;
    right: 0;
    top: 5%;
}

.heart:hover {
    color: red;
    cursor: grab;
}

.sconto {
    font-size: 12px;
    padding: .3em;
    color: white;
    background-color: red;
    position: absolute;
    left: 0;
    bottom: 5%;
}

.etichetta {
    font-size: 12px;
    padding: .3em;
    color: white;
    background-color: green;
    position: absolute;
    left: 12%;
    bottom: 5%;
}

.no-sconto {
    left: 0%;
}

.img-container :first-child {
    display: none;
}

.img-container:hover :first-child {
    display: inline-block;
}

.img-container:hover :nth-child(2) {
    display: none;
}